@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: #141e27;
    text-decoration: none;
    font-family: 'Inter', 'Public Sans', 'Savate';
}

html {
    scroll-behavior: smooth;
    /* transition: all 0.5s ease-in-out; */
}

header {
    width: 100%;
    min-height: 100vh;
    background: #faf1c3;
    background: linear-gradient(90deg, rgba(250, 241, 195, 0.986) 10%, rgba(247, 235, 176, 0.192) 45%), url("../photos/banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 20px;
}

nav {
    width: 80%;
    margin: auto;
    height: 80px;
    background: #f0d9a7c7;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.banner-content {
    margin-top: 90px;
    width: 50%;
    min-height: 75vh;
    border: none;
    /* background: #be9191; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 100px;
    gap: 15px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    padding: 8px 20px;
    background: #bb943fc7;
    border-radius: 30px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
}

/* menu btn */
.menu {
    display: none;
}

/* sections */

section {
    min-height: 70vh;
    box-shadow: 2px 2px 4px #d4d1d1;
    /* margin-top: 90px; */
    padding: 50px;
}

.title {
    text-align: center;
}

/* about section */
.about-section {
    display: flex;
}

.about-content,
.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

/* menu section */
.menu-section {
    display: flex;
    gap: 20px;
    margin: 50px 30px;
}

.flex-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.flex-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* testimonials section */
.testimonials {
    width: 100%;
    background-image: url("../photos/banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.testimonials-section {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonials-content,
.testimonials-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-content {
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background: #ffffff;
}

.testimonials-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}